<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/">Retour à l'accueil</a>
    <p>J'ai acheté un <%= product.type %> de couleur <%= product.color %></p>
  </body>
</html>